<div class="card">
    <div data-th-include="merchant/merchant/merchantReview"></div>
    <div class="card-block">
        <div class="table-responsive">
            <div id="data-table_wrapper" class="dataTables_wrapper">

                <div id="data-table_filter" class="dataTables_filter">
                    <form class="merchant-table-form">
                        <h5>商家图片信息：</h5>
                        <hr>
                        <div class="row">

                            <div class="col-sm-3">
                                <div class="input-group">
                                <span class="input-group-addon">
					               	 注册编号：
					            </span>
                                    <div class="form-group">
                                        <input type="text" name="registrationNumber"  class="form-control">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-11">
                                <div class="input-group">
                                <span class="input-group-addon">
					               	 营业证明：
					            </span>
                                    <div class="form-group" id="storeBusiness">
                                        <!--<input type="text" name="businessProof"  class="form-control">-->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary btn-save" id="baseInfo-submit" onclick="storeInfoSubmit()">提交审核</button>
                </div>
            </div>
        </div>
    </div>
</div>